* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  .row {
    width: 100%;
    padding: 10px;
  }
  
  h1 {
    margin-bottom: 15px;
    text-align: center;
    color:black;
    font-size: 50px;
  }
  
  .box{
    
    position: relative;
  }
  
  
  .content-name {
    
    text-align: center;
    border: 4px solid black;
    width: 100px;
    
    padding: 5px;
    
   
    font-weight: bold;
    position: absolute;
    top:0;
    right:0;
  }
  
  .content{
    border: 5px solid black;
    
    
    padding: 15px;
    color: black
    font-size: 25px;
    
    background-color: rgba(0,0,0,0.3);
  }
  
  .name1{
    background-color: #FFB6C1;
  }
  
  .name2{
    color: white;
    background-color: rgba(255, 0, 0, 0.76);
  }
  .name3{
    background-color: #ffc956ce;
  }
  
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
        float: left;
      width: 33.33%;
        padding: 10px;
    }
  }
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      float: left;
      width: 50%;

    .col-md-12 {
    width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .col-sm-12 {
        float: left;
      width: 100%;
       padding: 10px;
   
  }
  
